<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<!-- SEO -->
	<meta name="author" content="{{author}}" />
	<!-- Favicons -->
	<link rel="shortcut icon" href="source-img/favicon.ico" />
	<!-- Page Title -->
	<title>{{name}}</title>
	<!-- build:css -->
	<link rel="stylesheet" href="source-css/main.css" />
	<!-- endbuild -->
</head>

<body>

	<div id="app"></div>

	<!-- build:js -->
	<script src="source-js/bundle.js"></script>
	<!-- endbuild -->

</body>

</html>